* {
  margin: 0;
  padding: 0;
  outline: 0;
  text-decoration: none;
}
header {
  background-color: #f9b24e;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
}

.titulo {
  padding: 1vh;
  color: #e3e8eb;
}

input[type="search"] {
  width: 18vw;
  padding: 1vh;
  border: none;
}
input[type="submit"] {
  background-color: #e3e8eb;
  padding: 1vh;
  border: none;
  cursor: pointer;
}
a {
  color: black;
}

.page-titulo {
  margin: 2vh 5vh;
  color: #fe7e02;
}
.lista-video-card {
  margin-top: 2vh;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.video-card {
  margin: 2vh 0;
  border: 1px solid #fe7e02;
  height: 40vh;
  width: 20vw;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0 2vh;
}
.video-card a {
  text-decoration: none;
}
.video-card-titulo {
  color: #fe7e02;
  padding: 2vh;
}
a.video-card-titulo {
  color: #fe7e02;
}
.video-card img {
  width: 20vw;
  height: 20vh;
}
.video-card-descricao {
  padding: 10px;
}
a.video-card-descricao:visited {
  color: #333;
}

.video-conteudo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  padding: 2vw;
}
video {
  width: 45vw;
}
.video-conteudo-descricao {
  padding: 2vw;
}

footer {
  background-color: #f9b24e;
  color: #e3e8eb;
  text-align: center;
  align-content: center;
  height: 2vh;
  padding: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-device-width: 481px) and (max-device-width: 800px) {
  .video-card {
    width: 25vw;
    height: 50vh;
  }
  .video-card img {
    width: 25vw;
    height: 25vh;
  }
  .video-conteudo {
    flex-direction: column;
  }
  .video-conteudo video {
    align-items: center;
    width: 95vw;
  }
  .video-conteudo-descricao {
    width: 95vw;
  }
}
@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  input[type="search"] {
    width: 200px;
  }
  .video-card {
    width: 100vw;
    height: 50vh;
    text-align: center;
  }
  .video-card img {
    width: 100%;
    height: 30vh;
  }
  .video-conteudo {
    flex-direction: column;
  }
  .video-conteudo video {
    align-items: center;
    width: 95vw;
  }
}
